/* Reset default margin and padding for the entire page */
html, body {
    margin: 0;
    padding: 0;
}

/* Set the background color for the entire page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FCFBF4;
    color: #333; 
    font-size: 18px; /* Increase font size */
    line-height: 1.6; /* Increase line height */
}

/* Change color of hyperlinks */
a {
    color: #90664b;
}

/* Container styling */
.container {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden; /* To contain floated elements */
    display: flex; /* Enable flex layout */
}

.left-section {
    flex: 1; /* Take up remaining space */
    display: flex; /* Enable flex layout */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    border-right: 2px solid #90664b; /* Change border color to match sidebar background */
    padding-right: 20px; /* Add some space */
    margin-top: 20px; /* Add margin from the top */
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-section img {
    width: 100px; /* Adjust image size */
    height: 100px; /* Maintain aspect ratio */
    display: block; /* Prevent inline gap */
    margin: 0 auto 10px; /* Center image and add bottom margin */
}

.sidebar {
    text-align: center;
    margin-top: 20px;
    display: flex; /* Enable flex layout */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the start */
}

.sidebar a {
    margin-bottom: 20px; /* Adjust margin between links */
}

.sidebar img {
    width: 30px;
    height: 30px;
}

.right-section {
    flex: 1; /* Take up remaining space */
    padding-left: 20px; /* Add some space */
}

.research-section {
    padding: 20px;
}

.section-title {
    padding: 10px; /* Add padding to section titles */
    margin: 20px 0; /* Add margin above and below section titles */
}





