/* Reset default margin and padding for the entire page */
html, body {
    margin: 0;
    padding: 0;
}

/* Set the background color for the entire page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FCFBF4;
    color: #333; 
    font-size: 18px; /* Increase font size */
    line-height: 1.6; /* Increase line height */
}

/* Change color of hyperlinks */
a {
    color: #90664b;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    background-color: #FCFBF4; /* Change background color */
    margin-top: 2cm; /* Add margin from the top */
    margin-left: 0.5cm;
    margin-right: 1cm;
}

.sidebar a {
    margin-bottom: 20px; /* Adjust margin between links */
    position: relative;
}

.sidebar img {
    width: 30px;
    height: 30px;
}

.navbar {
    background-color: #FCFBF4; /* Update top bar color */
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center; /* Center the menu items horizontally */
    width: 100%;
    font-family: 'Roboto Mono', monospace; /* Updated font */
}

/* Style individual menu items */
.nav-item {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover effect for menu items */
.nav-item:hover {
    background-color: #90664b;
}

/* Container styling */
.container {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden; /* To contain floated elements */
    display: flex; /* Enable flex layout */
}

.left-section {
    flex: 1; /* Take up remaining space */
    display: flex;
    border-right: 2px solid #90664b; /* Change border color to match sidebar background */
    padding-right: 20px; /* Add some space */
    margin-top: 20px; /* Add margin from the top */
    flex-direction: column;
}

.profile-section-row {
    display: flex;
    flex-direction: right;
    justify-content: flex-end;
}

.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100px; /* Adjust image size */
    height: 100px; /* Maintain aspect ratio */
    display: block; /* Prevent inline gap */
    margin: 0 auto 10px; /* Center image and add bottom margin */
}

.sidebar {
    text-align: right;
    margin: 0 0.5cm 0 0;
}

.right-section {
    flex: 1; /* Take up remaining space */
    padding-left: 20px; /* Add some space */
}

.research-section {
    padding: 20px;
}

.section-title {
    padding: 10px; /* Add padding to section titles */
    margin: 20px 0; /* Add margin above and below section titles */
}




