html, body {
    margin: 0;
    padding: 0;
}

/* Set the background color for the entire page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FCFBF4;
    color: #333; 
    font-size: 18px; /* Increase font size */
    line-height: 1.6; /* Increase line height */
}

/* Change color of hyperlinks */
a {
    color: #90664b;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
}

.profile-section {
    text-align: center; /* Center the profile picture */
}

.profile-section img {
    width: 150px; /* Adjust image size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 20px; /* Add margin below the image */
}

.navbar {
    background-color: #FCFBF4;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Add margin between items */
}

.nav-item:hover {
    background-color: #90664b;
}

.research-section {
    text-align: left; /* Align text left */
}


