/* Reset default margin and padding for the entire page */
/* Reset default margin and padding for the entire page */
html, body {
    margin: 0;
    padding: 0;
}

/* Set the background color for the entire page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FCFBF4;
    margin: 0;
    padding: 0;
    color: #333; 
    font-size: 18px; /* Increase font size */
    line-height: 1.6; /* Increase line height */
}

/* Change color of hyperlinks */
a {
    color: #90664b;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Use flexbox for layout */
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
}

.sidebar a {
    margin-bottom: 20px; /* Adjust margin between links */
    position: relative;
}

.sidebar img {
    width: 30px;
    height: 30px;
}


.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-section img {
    width: 80px; /* Adjust image size */
    height: 80px;
    object-fit: cover;
    margin-left: 20px; /* Add margin to separate from sidebar */
}

.profile-section div {
    text-align: left;
}

.navbar {
    background-color: #FCFBF4;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #90664b;
}

.research-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.brown-line {
    height: 2px;
    background-color: #90664b;
    width: 100%;
    margin-top: 10px;
    border-radius: 1px; /* To make the ends rounded */
}

/* Item list */
.item-list {
    list-style-type: none; /* Remove default list styles */
    margin-top: 10px; /* Adjust spacing */
}

.item-list li {
    position: relative; /* To position the dot */
    margin-bottom: 10px; /* Adjust spacing between list items */
    padding-left: 20px; /* Add padding to accommodate the dot */
}

.dot {
    position: absolute;
    left: 0;
    top: 5px; /* Adjust vertical position */
    width: 6px;
    height: 6px;
    background-color: #90664b;
    border-radius: 50%;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #90664b;
    border-radius: 50%;
    margin-right: 10px; /* Adjust spacing between dot and text */
}

/* Publication list and work in progress list */
.publication-list,
.work-in-progress-list {
    list-style-type: none;
    padding: 0;
}

.publication-list li,
.work-in-progress-list li {
    margin-bottom: 10px; /* Adjust spacing between list items */
    line-height: 1.5; /* Adjust line height */
}

